.login button {
    padding-inline: 10px;
    color: black;
    border: 2cqmin solid #1c1c1c;
    border-radius: 5px;
    transition-duration: 0.4s;
    margin: 5px;
  }

  .login{

    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    padding-top: 1px;
    padding-bottom: 2px;

  }

.loginlogo{
    display: block;
    margin: auto;
    width: 300px;
    padding: 0px;
}

.loginbox{
  margin: auto;
  max-width: 300px;
  max-height: 300px;
  border: 1px solid #111;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.08);
  border-radius: 24px;
  background-color:#fefcfd;
}

.loginbox form {
  margin-bottom: 10px;
}

.login a{
    margin: 5px;
    color: #28262C;
    font-size: 10px;
}
.login a:hover{
    margin: 5px;
    color: rgb(122, 122, 122);
}
  
  .login input {
    
    margin: 5px;
    margin-right: 5px;
    height: 4px;
    width: 200px;
    max-width: 1000px;
    padding: 10px 3px;
    box-sizing: border-box;
    border: 2px solid #28262C;
    border-radius: 2px;
    color: black;
    background-color: rgb(232, 240, 254);
    font-size: 16px;
    resize: none;
  }

  .login h1 {
    font-size: 30px;
    font-weight: 400;
    color: #1c1c1c;
    text-shadow: 1px 1px 1px #000000;
  }

  .login button{
    background-color: #fefcfd;
    padding-inline: 10px;
    color: black;
    border: 2px solid #1c1c1c;
    border-radius: 5px;
    transition-duration: 0.4s;
  }
  
  .login button:hover{
    background-color: #3f3f3f;
    color: white;
    border: 1px solid #1c1c1c;
  }